.budget-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* background-color: #67AB3F; */
    background: linear-gradient(to right, #4A808D, #41B0BA);
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.budget-logo-title {
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 1;
    margin-top: 30px;
    margin-left: 30px;
}

.budget-logo {
    width: 50px;
    /* Adjust as needed */
    margin-right: 10px;
    border-radius: 0%;
}

.budget-title {
    font-size: 16px;
    /* Adjust as needed */
    color: white;
}

.budget-content {
    margin-top: 4rem;
    margin-left: 3rem;
}

.budget-content h1 {
    font-size: 50px;
    font-family: 'Spongition', sans-serif;
    position: relative;
    color: #fff;
    margin-bottom: 1rem;
}

.budget-content h1::after {
    content: "";
    position: absolute;
    bottom: 3px;
    /* Adjust the distance below the text */
    left: 0;
    width: 20%;
    /* The underline will take up % of the width */
    height: 6px;
    /* Thickness of the underline */
    background-color: #40E0E7;
}

.budget-content h2 {
    color: #E1E1E1;
    font-size: 20px;
}

.budget-section a {
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 3rem;
    border: 1.5px solid #fff;
    border-radius: 30px;
    padding: 3rem 4rem;
    transition: all 500ms ease;
    text-decoration: none;
}


/* .budget-file {
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 3rem;
    border: 1.5px solid #fff;
    border-radius: 30px;
    padding: 3rem 4rem;
    transition: all 500ms ease;
} */

.budget-file svg {
    color: #fff;
    width: 80px;
    height: 80px;
    transition: all 500ms ease;
}

.budget-file p {
    margin-top: 1rem;
    color: #fff;
    text-align: center;
    transition: all 700ms ease;
}

.budget-section a:hover {
    border: 1.5px solid #40E0E7;

    & .budget-file svg,
    .budget-file p {
        color: #40E0E7;
    }
}